// Link styles

.link-pseudo {
  display: inline;
  padding: 0;
  border: 0;
  margin: 0;
  text-decoration: inherit;
  color: inherit;
  background: transparent;

  &:hover,
  &:focus,
  &:active {
    text-decoration: inherit;
    background: inherit;
    color: inherit;
  }
}

// Silent link - gets rid of default link style

.link-silent {
  text-decoration: none;
}

// Block-level link

.link-block {
  display: block;
  text-decoration: none;
}
