// Mixins

// Nicolas Gallagher's Micro Clearfix

@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin hide-text {
  overflow: hidden;
  background-color: transparent;
  border: 0;
  *text-indent: -9999px; // IE 6/7 fallback

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}
